In [82]:
import ETL.utils as utils

logger = utils.setup_logging()

In [83]:
import ETL.extract_data as extract
import ETL.config as config
import importlib
importlib.reload(config)
importlib.reload(extract)

cards= extract.extract_cards_data()
# users = extract.extract_users_data()
# transactions = extract.extract_transactions_data()

In [84]:
cards.sample(10)

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
1890,2879,1973,Mastercard,Debit,5700569085858753,01/2021,37,YES,1,$16441,05/2005,2008,No
1751,541,787,Mastercard,Debit (Prepaid),5536825392398622,11/2024,829,YES,1,$80,01/2020,2020,No
1097,5808,1997,Mastercard,Debit,5957840395918291,01/2024,232,YES,2,$34953,12/2004,2011,No
615,3202,1137,Mastercard,Credit,5018280111106134,03/2022,425,YES,2,$11100,05/2019,2019,No
302,2925,46,Mastercard,Debit,5615933957470022,02/2020,432,YES,2,$8037,05/2007,2010,No
529,763,1397,Visa,Debit (Prepaid),4356768889068512,11/2024,204,YES,1,$40,01/2020,2020,No
2825,3800,1989,Amex,Credit,387783458708691,03/2024,124,YES,1,$21200,07/2007,2011,No
45,3234,1660,Mastercard,Credit,5074836567307562,03/2023,741,NO,2,$6000,06/2002,2010,No
1052,1523,422,Mastercard,Debit,5764720476661124,08/2023,350,NO,1,$12907,02/2020,2020,No
3858,2746,1697,Mastercard,Debit (Prepaid),5803099724523617,09/2020,930,YES,1,$63,04/2015,2015,No

In [85]:
cards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   object
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB

In [86]:
cards.sample(10)

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
5545,4079,1476,Mastercard,Debit,5086512779429782,05/2024,613,YES,1,$13793,07/2019,2019,No
5739,6113,682,Mastercard,Credit,5512081974916797,10/2022,765,YES,2,$9300,12/2015,2015,No
5201,3538,380,Visa,Credit,4018146556727350,05/2023,544,NO,2,$8000,06/2011,2011,No
1001,2179,247,Mastercard,Credit,5765975770169362,02/2021,740,YES,1,$16700,03/2008,2008,No
4979,4676,209,Mastercard,Debit,5607093669748051,12/2021,968,YES,2,$2507,09/2008,2010,No
1791,1567,1028,Mastercard,Debit (Prepaid),5811487719571767,06/2020,355,YES,1,$72,02/2020,2020,No
5254,1725,1550,Mastercard,Credit,5447265501719265,11/2021,636,NO,1,$13700,02/2020,2020,No
739,2911,1314,Visa,Credit,4459121196885642,08/2010,455,YES,2,$10100,05/2006,2010,No
1955,1850,1232,Visa,Debit,4515472056993650,06/2020,464,YES,1,$21752,02/2020,2020,No
4320,5685,1488,Mastercard,Debit,5504145195168153,04/2022,611,YES,1,$28580,11/2013,2013,No

In [87]:
# count missing values
cards.isnull().sum()

id                       0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

In [88]:
#check for duplicates
import pandas as pd
def check_duplicates(df: pd.DataFrame)-> None:
    """
    Check for duplicate rows in the DataFrame based on specified columns.
    Args:
        df (pd.DataFrame): The DataFrame to check for duplicates.
    Returns:
        None
    """
    try:
        
        critical_columns = ['id', 'client_id']
        duplicates = df.duplicated(subset=critical_columns).sum()
        
        if duplicates > 0:
            logger.info(f"There are {duplicates} duplicate records in the data based on columns {critical_columns}.")
        else:
            logger.info(f"No duplicate records found in the data based on columns {critical_columns}.")

    except Exception as e:
        logger.error(f"An error occurred while checking for duplicates: {e}")
        raise

In [89]:
def cards_check_missing_values(df: pd.DataFrame) -> None:
    """
    Check for missing values in the DataFrame and log the results.
    Args:
        df (pd.DataFrame): The DataFrame to check for missing values.
    Returns:
        None
    """
    try:
        missing_values = df.isnull().sum()
        missing_columns = missing_values[missing_values > 0]
        
        if not missing_columns.empty:
            for column, count in missing_columns.items():
                logger.info(f"Column '{column}' has {count} missing values in CARDS data.")
            
            if all(col in missing_columns for col in ['id', 'client_id']):
                logger.error("Critical columns 'id' and 'client_id' in CARDS data contain missing values, which may affect data integrity.")
        else:
            logger.info("No missing values found in CARDS data.")
    
    except Exception as e:
        logger.error(f"An error occurred while checking for missing values in CARDS data: {e}")
        raise

In [90]:
cards.sample(5)

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
4265,1,550,Mastercard,Credit,5278231764792292,06/2024,396,YES,1,$11600,01/1994,2013,No
5083,5950,1490,Visa,Credit,4751967279477590,11/2021,581,NO,1,$11400,12/2008,2008,No
785,776,1599,Visa,Debit,4435064478746639,09/2021,229,YES,1,$22811,01/2020,2020,No
700,1796,229,Visa,Debit,4492510144355977,02/2020,858,YES,1,$52585,02/2020,2020,No
5570,105,783,Mastercard,Credit,5084097673104529,10/2007,908,YES,2,$5600,01/2006,2008,No

In [ ]:
def cards_remove_rename_columns(df: pd.DataFrame) -> pd.DataFrame:
    """
    Remove and rename specified columns from the DataFrame.
    Args:
        df (pd.DataFrame): The DataFrame from which to remove columns.
    Returns:
        pd.DataFrame: The DataFrame with specified columns removed.
    """
    try:
        columns_to_remove = ['client_id', 'card_number', 'cvv']
        columns_to_rename = {'id': 'card_id'}
        df_cleaned = df.copy()
        df_cleaned = df.drop(columns=columns_to_remove, errors='ignore')
        df_cleaned = df_cleaned.rename(columns=columns_to_rename)
        logger.info(f"Removed columns {columns_to_remove} from CARDS data.")
        return df_cleaned
    
    except Exception as e:
        logger.error(f"An error occurred while removing columns from CARDS data: {e}")
        raise

In [92]:
cards =  cards_remove_rename_columns(cards)
cards.sample(5)

,card_id,card_brand,card_type,expires,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
3247,2738,Visa,Debit,09/2021,YES,2,$13368,04/2014,2014,No
90,2106,Mastercard,Debit,05/2024,YES,2,$25264,03/2006,2020,No
2926,1892,Visa,Debit,02/2020,YES,1,$45222,02/2020,2020,No
2475,4590,Visa,Debit (Prepaid),07/2023,YES,2,$52,09/2005,2008,No
2461,3847,Mastercard,Credit,07/2023,YES,3,$21700,07/2008,2015,No

In [ ]:
#load data to sql server database
def load_data_to_sql(df: pd.DataFrame, table_name: str) -> None:
    """
    Load the DataFrame to a SQL Server database table.
    Args:
        df (pd.DataFrame): The DataFrame to load.
        table_name (str): The name of the table in the SQL Server database.
    Returns:
        None
    """
    try:
        from ETL.load_data import load_to_sql
        load_to_sql(df, table_name)
        logger.info(f"Data loaded successfully to the {table_name} table in the SQL Server database.")
    
    except Exception as e:
        logger.error(f"An error occurred while loading data to SQL Server: {e}")
        raise